/* Startup DIV CSS */

.startup {
    position: absolute;
    top: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 4;
}

.startup .container {
    display: none;
    position: relative;
}

.startup .progress-panel {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0px;
}

.startup .overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0.5;
    z-index: 1;
}

.startup .progress-panel {
    display: none;
}

@media screen and (max-width: 470px) {
    .startup h1 {
        font-size: 10vw;
    }
}

/* ETA CSS */

.item-list .list-group {
    width: 100%;
    z-index: 1;
}

/* Map CSS */

#gtw-map {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}

/* Search panel CSS */

.search-panel {
    padding: 8px;
    margin-bottom: 0px;
}

.search-panel .tabs, .hori-scroll {
    overflow: auto;
    white-space: nowrap;
    display: block;
    padding: 4px;
}

.search-panel .tabs .ui-tab, .hori-scroll button {
    display: inline-block;
}

.item-list .col-sm-2 {
    padding-left: 0px;
    padding-right: 0px;
}

#loc-status-btn {
    position: fixed;
    z-index: 3;
    right: 4px;
    bottom: 4px;
}

/* Header, footer CSS */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.footer {
    padding-top: 8px;
    padding-bottom: 0px;
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100%;
}

/* Map Overlay CSS */

.map-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    opacity: 0.8;
    cursor: pointer;
}

/* Loading Overlay CSS */

.loading-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 3;
    opacity: 100;
    cursor: pointer;
}

.loading-overlay .spinner-border {
    width: 3rem;
    height: 3rem;
}

/* Nearby route */

.nearby-route {
}

.nearby-route .route-id {
    padding-right: 2px;
    font-weight: bold;
    width: 10vw;
}

.nearby-route .stop-info {
    margin-left: 2px;
    margin-right: 2px;
    width: 60vw;
}

.nearby-route .stop-info .badge {
    width: 10vw;
}

.nearby-route .stop-info .col-sm-12{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    width: inherit;
}