body {
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    position: absolute;
}

.landscape-notice {
    display: none;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 5;
    position: relative;
    padding: 12%;
    font-weight: bold;
}

/* Update Change-log */

.build-version {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    padding-top: env(safe-area-inset-top);
    margin: 1rem;
}

#updated-changelog {
    white-space: normal;
}

/* Toast */

.toast-stack-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

#gtw-toast-stack {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    z-index: 3;
}

/* Startup DIV CSS */

.startup {
    position: absolute;
    top: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 4;
}

.startup .container {
    display: none;
    position: relative;
}

.progress-panel {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0px;
    z-index: 2;
}

.progress {
    border-radius: 0px;
}

.bg-loaddb-panel {
    display: none;
}

.request-progress-panel {
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0px;
    bottom: 0px;
    display: none;
}

.startup .overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0.5;
    z-index: 1;
}

.startup .progress-panel {
    display: none;
}

/* Getting Started Panel */
.getting-started-panel {
    display: none;
    padding: 1rem;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.getting-started-panel p.app-title {
    margin-top: 0.8125rem;
    margin-left: 1rem;
    margin-bottom: 0.8125rem;
    white-space: nowrap;
    line-height: inherit;
    font-size: 1.25rem;
}

#gettingStartedWizard {
    margin-top: 2rem;
    background-color: white;
    padding: 1rem;
    width: 100%;
}

#gettingStartedWizard ul {
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.getting-started-progress-panel {
    display: none;
}

.getting-started-progress-panel .progress-panel {
    text-align: center;
}

.getting-started-plugin-error-panel{
    display: none;
}

/* ETA CSS */
.bg-trans {
    background-color: unset;
}

.half-map-container {
    display: none;
    width: 100%;
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 2;
}

.container {
    padding: 0px;
}

.content-panel-container {

}

.item-list {
    height: inherit;
}

.item-list .list-group {
    width: 100%;
    height: inherit;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1;
}

.item-list .list-group li {
    min-height: 100px;
}

.all-route-list {
    display: none;
}

.stop-eta tr.active {
    font-size: 18px;
    font-weight: bold;
}

/* Map CSS */

#gtw-map {
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    position: fixed;
    overflow: hidden;
}

/* Search panel CSS */

.top-panel {
    padding: 8px;
    margin-bottom: 0px;
    background-color: unset;
}

.top-panel .tabs, .hori-scroll {
    overflow: auto;
    white-space: nowrap;
    display: block;
    padding: 4px;
}

.top-panel .tabs .ui-tab, .hori-scroll button {
    display: inline-block;
}

#loc-status-btn {
    margin-top: env(safe-area-inset-top);
    margin-bottom: env(safe-area-inset-bottom);
    position: fixed;
    z-index: 3;
    right: 4px;
    bottom: 4px;
}

/* Header, footer CSS */

.gtw-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

/*
.header nav {
    background-color: #343a40
}
*/

.footer {
    padding-top: 8px;
    padding-bottom: 0px;
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100%;
}

.map-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(233,236,239,0.8);
    z-index: 1;
    cursor: pointer;
}

/* Loading Overlay CSS */

.loading-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 3;
    opacity: 100;
    cursor: pointer;
}

.loading-overlay .loading-spinner {
    width: 100%;
    height: 100%;
}

.loading-overlay .spinner-border {
    width: 3rem;
    height: 3rem;
}

/* Touch Keypad */

.touch-keypad {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 2;
    background: rgba(255, 255, 255, 0.4);
    display: none;
    padding-bottom: env(safe-area-inset-bottom);
}

.touch-keypad .numeric-keypad {
    width: 75%;
}

.touch-keypad .letter-keypad {
    width: 25%;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    justify-content: flex-start;
}

.touch-keypad-key {
    min-height: 58px;
}

/* Route selection */

.route-selection .route-id {
    padding-right: 16px;
    font-weight: bold;
}

.route-selection .stop-info {
    margin-left: 8px;
    margin-right: 8px;
}

.route-selection .stop-info .badge {

}

.route-selection .stop-info .col-sm-12{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    width: inherit;
}

/* Search Transit Field */

#search-transit-text {
    background-color: #fff;
}

/* Half-map Panel */
.half-map-panel {
    display: none;
    background-color: unset;
    padding: 8px;
    margin-bottom: 0px;
    position: relative;
    z-index: 1;
}

.mobile-split-container {
    /*margin-top: 50vh;*/
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80%;
    padding: 0px;
    background-color: rgba(233,236,239,0.8);
}

/* Route list */

.view-alert-btn {
    font-size: inherit;
    padding: 0px;
}

/* Media Query */
@media only screen and (min-width: 768px) {
    .top-panel {
        /*width: 25%;*/
    }

    .half-map-panel {
        /*width: 25%;*/
    }

    .half-map-container {
        /*width: 25%;*/
        margin-left: 0;
    }

    .content-panel-container {
        /*width: 25%;*/
        margin-left: 0;
    }

    .request-progress-panel {
        width: 25%;
    }

    #gtw-map {
        width: 100vw;
        /*width: 75%;
        margin-left: 25%;*/
    }

    .gtw-container {
        width: 25%;
    }

    .map-overlay {
        width: 25%;
        /*display: none;*/
    }

    .touch-keypad {
        width: 25%;
    }

    .getting-started-panel {
        /*width: 25%;*/
    }

    .desktop.half-map-panel.gtw-half-map {
        display: block;
    }

    .desktop.half-map-container.gtw-half-map {
        display: block;
    }

    .mobile.half-map-panel.gtw-half-map {
        display: none;
    }

    .mobile.half-map-container.gtw-half-map {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .gtw-container nav {
        margin-top: env(safe-area-inset-top);
        background-color: unset;
    }

    .toast-stack-container {
        margin-top: env(safe-area-inset-top);
        margin-bottom: env(safe-area-inset-bottom);
    }

    .getting-started-panel {
        padding-top: env(safe-area-inset-top);
        padding-bottom: env(safe-area-inset-bottom);
    }

    .modal {
        padding-top: env(safe-area-inset-top);
        padding-bottom: env(safe-area-inset-bottom);
    }

    .mobile-split-container.gtw-half-map {
        display: block;
    }

    .startup .progress-panel {
        padding-bottom: env(safe-area-inset-bottom);
    }

    /*
    body.gtw-half-map {
        overflow-y: scroll;
    }

    #gtw-map {
        display: none;
    }
    */

    .map-overlay.gtw-half-map {
        display: none;
        /*margin-top: 50vh;
        height: 50vh;*/
    }

    /*
    #gtw-map.gtw-half-map {
        height: 50vh;
        display: block;
    }
    */

    .desktop.half-map-panel.gtw-half-map {
        display: none;
    }

    .desktop.half-map-container.gtw-half-map {
        display: none;
    }

    .mobile.half-map-panel.gtw-half-map {
        display: block;
        /*height: 20vh;*/
    }

    .mobile.half-map-container.gtw-half-map {
        display: block;
        /*height: 30vh;*/
        height: inherit;
    }
}

/*
@media only screen and (max-height: 768px) and (orientation: landscape) {
    .landscape-notice {
        display: block;
    }
}
*/

@media screen and (max-width: 470px) {
    .startup h1 {
        font-size: 10vw;
    }
}

@media (prefers-color-scheme: dark) {
    .map-overlay {
        background-color: rgba(150, 150, 150, 0.8);
    }

    .mobile-split-container {
        background-color: rgba(150, 150, 150, 0.8);
    }

    .route-selection {
        background-color: #dadada;
    }

    .list-group-item-light {
        background-color: #dadada;
    }
    
    #search-transit-text {
        background-color: #ececec;
    }

    .btn, .btn-link, a {
        color: #fff;
    }

    .timeline-icon {
        background: #a9a9a9;
        color: #fff;
    }

    .timeline-icon.bg-light {
        background-color: #a9a9a9!important;
    }

    .timeline-label {
        background: #a9a9a9;
    }

    .timeline-label p{
        color: #fff;
    }

    .startup {
        background-color: #3a3a3a;
        color: #fff;
    }

    .build-version{
        color: #fff;
    }

    .text-dark {
        color: #fff!important;
    }

    #gettingStartedWizard {
        background-color: #989898;
    }

    #gettingStartedWizard .nav-tabs{
        border-bottom: unset;
    }

    #gettingStartedWizard li.active {
        color: #ffffff!important;
    }

    #gettingStartedWizard li.done {
        color: #cecece!important;
    }

    #gettingStartedWizard .step-content {
        background-color: #989898;
        color: #fff;
    }

    #gettingStartedWizard .sw-toolbar {
        background-color: #989898;
    }
    
}